.sidebar {
    position: absolute;
    right: -18em;
    top: 0;
    width: 18em;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
}

.usuario_img_sidebar {
    margin: 0.5em;
    width: 4em;
    height: 3em;
    align-self: flex-start;
}

.cerrar_sidebar {
    position: absolute;
    width: 5em;
    height: 2em;
    top: 1em;
    right: 1em;
}

.menu_links {
    margin-left: 0.5em;
}
