* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("C:\Users\Leire Becerra\Documents\GitHub\carshow\app\src\pages\registro\images\fondo.png");
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form{
    background-color: #f5f5f588;   /* Color de fondo */
    border: 2px solid #eee;      /* borde para el formulario */
    padding:20px;
    -webkit-border-radius: 5px;  /* bordes redondeados */
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    width: max-content;
    display:grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}

hr.solid {
    border-top: 3px solid #bbb;
  }