* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(207, 141, 141);
}

hr.solid {
    border-top: 3px solid #bbb;
}

.coche_img {
    width: 20em;
    height: 15em;
}
