.navbar {
    background-color: red;
    display: grid;
    
}

.usuario_img_navbar {
    margin: 0.5em;
    width: 2em;
    height: 1.5em;
    grid-row: 1;
    grid-column: 100;
}

.anadir_coche {
    margin: 0.5em;
    width: 1.5em;
    height: 1.5em;
    grid-row: 1;
    grid-column: 90;
}
