.sidebar {
    position: absolute;
    left: -12em;
    top: 0;
    width: 12em;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
}

.menu_icon_black {
    margin: 0.5em;
    width: 2em;
    height: 1.5em;
    align-self: flex-end;
}

.menu_links {
    margin-left: 0.5em;
}